Python need a MySQL driver to access the MySQL Database.

In [28]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (8.3.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Import and connect MySQL server database into python.

In [1]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7"
)

print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021EC4050C10>

Import Database name from SQL server.

In [11]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

For using sql statement execution in python must use the cursor().execute or executemany for many values.

Use the "create table" query to create a table in the database.

In [12]:
mycursor=db.cursor()

sql = """CREATE TABLE pelanggan (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    address Varchar(255)
    )
    """
mycursor.execute(sql)

Check if the table we created has been entered into the database.

In [27]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor=db.cursor()
mycursor.execute("SHOW TABLES")

print(mycursor)

for x in mycursor:
    print(x)

CMySQLCursor: SHOW TABLES
('categories',)
('customers',)
('pelanggan',)
('pikles',)
('pikles_family',)
('products',)
('profil',)
('setup_order',)
('student_table',)
('students',)
('teachers',)

Add a hobby column to the pelanggan table.

In [ ]:
mycursor.execute("ALTER TABLE pelanggan ADD COLUMN hobby VARCHAR(255)")

Insert the value in the table according to the column in the customer table.

In [28]:
sql = "INSERT INTO pelanggan (name,address,hobby) VALUES(%s,%s,%s)"
value = ("Udin","Padang","Desain")
mycursor.execute(sql,value)

db.commit()

print(mycursor.rowcount,"Record Inserted.")

1 Record Inserted.

In [ ]:
mycursor = db.cursor()
sql = "INSERT INTO pelanggan (name,address,hobby) VALUES(%s,%s,%s)"
value = [
    ("Umar","Jakarta","Coding"),
    ("Ujang","Solok","Masak"),
    ("Uniang","Surian","Menjahit"),
    ("Unto","Arab","Makan")
]
mycursor.executemany(sql,value)

db.commit()

print(mycursor.rowcount,"Record Inserted")

Print all table outputs and values from the customer table (fetchall).

In [17]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()
mycursor.execute("SELECT * FROM pelanggan")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Udin', 'Padang', 'Desain')
(2, 'Umar', 'Jakarta', 'Coding')
(3, 'Ujang', 'Solok', 'Masak')
(4, 'Uniang', 'Surian', 'Menjahit')
(5, 'Unto', 'Arab', 'Makan')

Print the first row of the table output and its values from the customer table.

In [12]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()
mycursor.execute("SELECT * FROM pelanggan")
myresult = mycursor.fetchone()

print(myresult)

(1, 'Udin', 'Padang', 'Desain')

Print the output in the table based on the condition ("WHERE").

In [18]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()
mycursor.execute("SELECT * FROM pelanggan WHERE address = 'Padang'")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Udin', 'Padang', 'Desain')

Select the records that starts, includes, or ends with a given letter or phrase ("wildcard").

In [22]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()

sql = "SELECT * FROM pelanggan WHERE name LIKE 'Un%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(4, 'Uniang', 'Surian', 'Menjahit')
(5, 'Unto', 'Arab', 'Makan')

Use the ORDER BY statement to sort the result in ascending or descending order.

In [24]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()

sql = "SELECT * FROM pelanggan ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(5, 'Unto', 'Arab', 'Makan')
(4, 'Uniang', 'Surian', 'Menjahit')
(2, 'Umar', 'Jakarta', 'Coding')
(3, 'Ujang', 'Solok', 'Masak')
(1, 'Udin', 'Padang', 'Desain')

Delete records from an existing table by using the "DELETE FROM" statement. The mysql.connector module uses the placeholder %s to escape values in the delete statement.

In [ ]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()
sql = "DELETE FROM pelanggan WHERE address = %s"
adr = ("Solok", )
mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

Update existing records in a table by using the "UPDATE" statement.

In [26]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()
sql = "UPDATE pelanggan SET address = %s WHERE address = %s"
val = ("Alahan", "Arab")

mycursor.execute(sql, val)

db.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

Limit the number of records returned from the query, by using the "LIMIT" statement.

In [27]:
import mysql.connector


db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Bijionta7",
    database="belajarquery"
)

mycursor = db.cursor()
mycursor.execute("SELECT * FROM customers LIMIT 3")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'John', 'Does', 31, 'USA')
(2, 'Robert', 'Luna', 22, 'USA')
(3, 'David', 'Robinson', 22, 'UK')